<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>bsong</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>host</param-name>
    <param-value>your_stmp_server</param-value>
</context-param>
 
<context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
</context-param>
 
<context-param>
    <param-name>email</param-name>
    <param-value>your sender email</param-value>
</context-param>
 
<context-param>
    <param-name>name</param-name>
    <param-value>your sender name</param-value>
</context-param>
  
<context-param>
    <param-name>pass</param-name>
    <param-value>your sender email password</param-value>
</context-param>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexCotroller</display-name>
    <servlet-name>AdminIndexCotroller</servlet-name>
    <servlet-class>controller.AdminIndexCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCotroller</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthLoginController</display-name>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddCatController</display-name>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/add-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCatController</display-name>
    <servlet-name>AdminCatController</servlet-name>
    <servlet-class>controller.AdminCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCatController</servlet-name>
    <url-pattern>/admin/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddSongController</display-name>
    <servlet-name>AdminAddSongController</servlet-name>
    <servlet-class>controller.AdminAddSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddSongController</servlet-name>
    <url-pattern>/admin/add-song</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteCatController</display-name>
    <servlet-name>AdminDeleteCatController</servlet-name>
    <servlet-class>controller.AdminDeleteCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCatController</servlet-name>
    <url-pattern>/admin/delete-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteSongController</display-name>
    <servlet-name>AdminDeleteSongController</servlet-name>
    <servlet-class>controller.AdminDeleteSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteSongController</servlet-name>
    <url-pattern>/admin/delete-song</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthLogoutController</display-name>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditSongController</display-name>
    <servlet-name>AdminEditSongController</servlet-name>
    <servlet-class>controller.AdminEditSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSongController</servlet-name>
    <url-pattern>/admin/edit-song</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditCatController</display-name>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/edit-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchCatController</display-name>
    <servlet-name>AdminSearchCatController</servlet-name>
    <servlet-class>controller.AdminSearchCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCatController</servlet-name>
    <url-pattern>/admin/search-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchSongController</display-name>
    <servlet-name>AdminSearchSongController</servlet-name>
    <servlet-class>controller.AdminSearchSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchSongController</servlet-name>
    <url-pattern>/AdminSearchSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSongController</display-name>
    <servlet-name>AdminSongController</servlet-name>
    <servlet-class>controller.AdminSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSongController</servlet-name>
    <url-pattern>/admin/song</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthRegisterController</display-name>
    <servlet-name>AuthRegisterController</servlet-name>
    <servlet-class>controller.AuthRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthRegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteContactController</display-name>
    <servlet-name>AdminDeleteContactController</servlet-name>
    <servlet-class>controller.AdminDeleteContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteContactController</servlet-name>
    <url-pattern>/admin/delete-contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminContactController</display-name>
    <servlet-name>AdminContactController</servlet-name>
    <servlet-class>controller.AdminContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactController</servlet-name>
    <url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchContactController</display-name>
    <servlet-name>AdminSearchContactController</servlet-name>
    <servlet-class>controller.AdminSearchContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchContactController</servlet-name>
    <url-pattern>/admin/search-contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicCatController</display-name>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/public/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicDetailController</display-name>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/public/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicIndexController</display-name>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/public/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicContactController</display-name>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/public/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicSearchController</display-name>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/public/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddUserController</display-name>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/add-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteUserController</display-name>
    <servlet-name>AdminDeleteUserController</servlet-name>
    <servlet-class>controller.AdminDeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUserController</servlet-name>
    <url-pattern>/admin/delete-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditUserController</display-name>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/edit-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserController</display-name>
    <servlet-name>AdminUserController</servlet-name>
    <servlet-class>controller.AdminUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHandelController</display-name>
    <servlet-name>UserHandelController</servlet-name>
    <servlet-class>controller.UserHandelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHandelController</servlet-name>
    <url-pattern>/UserHandel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchUserController</display-name>
    <servlet-name>AdminSearchUserController</servlet-name>
    <servlet-class>controller.AdminSearchUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchUserController</servlet-name>
    <url-pattern>/AdminSearchUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthResetPasswordController</display-name>
    <servlet-name>AuthResetPasswordController</servlet-name>
    <servlet-class>controller.AuthResetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthResetPasswordController</servlet-name>
    <url-pattern>/resetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthHandelInfoController</display-name>
    <servlet-name>AuthHandelInfoController</servlet-name>
    <servlet-class>controller.AuthHandelInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthHandelInfoController</servlet-name>
    <url-pattern>/handelinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthHandelVerificationController</display-name>
    <servlet-name>AuthHandelVerificationController</servlet-name>
    <servlet-class>controller.AuthHandelVerificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthHandelVerificationController</servlet-name>
    <url-pattern>/verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendingController</display-name>
    <servlet-name>EmailSendingController</servlet-name>
    <servlet-class>controller.EmailSendingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingController</servlet-name>
    <url-pattern>/EmailSendingController</url-pattern>
  </servlet-mapping>
</web-app>